  <!-- <%= prepare_comment_above(template_variables['column_name'].upcase + ' FIELD') %> -->
  <div class="field" id="<%= template_variables['column_name'] %>Div">
    <%%= f.label :<%= template_variables['column_name'].downcase %> %><br />
    <%%= f.checkbox :<%= template_variables['column_name'].downcase %> %>
  </div>
  <!-- <%= prepare_comment_below(template_variables['column_name'].upcase + ' FIELD') %> -->
